* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Sora', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    min-width: 320px;
}

.navbar {
    background-color: #040844;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.info {
    display: flex;
    list-style: none;
}

.info li {
    margin-left: 35px;
}

.info li a:not(.panic-lobster) {
    color: #F37A1F;
    text-decoration: none;
    font-size: 1.25rem;
}

.panic-lobster {
    background-color: #1F2DF3;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1.25px;
    text-decoration: none;
    font-size: 0.8rem;
}

.inicio {
    background-color: #ffffff;
    display: flex;
    padding: 3%;
}

.mensagem-inicio {
    width: 62%;
    margin: 5% 0%;
}

.mensagem-inicio h2 {
    font-size: 2.4rem;
    color: #666666;
    line-height: 58.59px;
    margin-right: 5%;
    margin-bottom: 5%;
}

.mensagem-inicio a {
    display: inline-flex;
    background-color: #F37A1F;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 0.8rem;
    letter-spacing: 1.25px;
}

.pessoa-escalando {
    display: block;
    margin: 2% 0 0 3%;
}

.clientes, .como-trabalhamos, .fale-conosco {
    padding: 3% 5%;
}

.clientes {
    background-color: #EEEEEE;
    padding-bottom: 5%;
}

.container h1 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 600;
}

.clientes h1 {
    color: #1F2DF3;
}

.nossos-clientes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nossos-clientes div {
    display: block;
    margin-top: 5%;
    margin: 5% 3% 2% 3%;
}

.como-trabalhamos {
    background-color: #ffffff;
}

.sessao-como-trabalhamos {
    display: flex;
    margin-top: 5%;
}

.como-trabalhamos h1 {
    color: #F37A1F;
}

.mensagem-como-trabalhamos p {
    color: #666666;
    font-size: 1.9rem;
    margin-top: 5%;
    margin-left: 10%;
}

/* Fale conosco */
.fale-conosco {
    width: 100%;
    background-color: #EEEEEE;
}

.fale-conosco h1{
    color: #1F2DF3;;
}

.sub-container{
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: center;
}

.formulario{
    width: 50%;
}

.formulario ul {
    list-style: none;
}

.formulario ul li{
    display: flex;
    align-items: center;
    padding: 2.5% 0;
}

.link{
    border-bottom: 1px solid #F37A1F;            
}

.link:hover{
    border-bottom: 2px solid #F37A1F;
    -moz-transition: all .3s ease-out;	
	-webkit-transition: all .3s ease-out;	
	-o-transition: all .3s ease-out;
    color: #F37A1F;
}

.formulario ul li img {
    width: 40px;
    height: 40px;
}
.formulario ul li a, .redes-sociais a { text-decoration: none;}

.formulario ul li p, .formulario ul li a {
    color: #666666;
    margin-left: 2%;
    font-size: 1.7rem;
    line-height: 40px;
}

.mao-celular {
    width: 45%;
}

.mao-celular img{
    width: 100%;
}

.rodape {
    background-color: #040844;
    display: flex;
    padding: 10% 5%;
}

.icone-big {
    margin-top: 3%;
}

.contato {
    margin-left: 6%;
    list-style: none;
}

.redes-sociais {
    margin-left: 3%;
    width: 20%;
}

.contato > p  {
    margin-bottom: 5%;
}

.redes-sociais > p {
    margin-bottom: 15%;
}

.contato li {
    display: flex;
    margin-bottom: 5%;
    align-items: center;
}

.contato li:last-child {
    align-items: flex-start;
}

.contato img, .redes-sociais img {
    margin-right: 5%;
}

.contato p, .redes-sociais p {
    color: #FBD1B2;
    font-size: 1.6rem;
}

.contato p:first-child, .redes-sociais p:first-child {
    color: #F37A1F;
    font-size: 1.7rem;
}

.imagens {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-01 {
    width: 168px;
    height: 62px;
    background-image: url('../src/img/clientes/BancodeBari.svg');
}

.img-02 {
    width: 239px;
    height: 44px;
    background-image: url('../src/img/clientes/Remax.svg');
}

.img-03 {
    width: 239px;
    height: 58px;
    background-image: url('../src/img/clientes/MarinsBertoldi.svg');
}

.img-04 {
    width: 251px;
    height: 71px;
    background-image: url('../src/img/clientes/Zaffari.svg');
}

.img-05 {
    width: 88px;
    height: 58px;
    background-image: url('../src/img/clientes/Darnel.svg');
}

.img-06 {
    width: 169px;
    height: 40px;
    background-image: url('../src/img/clientes/Conquer.svg');
}

.img-07 {
    width: 130px;
    height: 49px;
    background-image: url('../src/img/clientes/YPO.svg');
}

.img-08 {
    width: 195px;
    height: 63px;
    background-image: url('../src/img/clientes/Pwc.svg');
}

@media (max-width: 1024px) {
    .info li:not(.botao-panic-lobster),
    .pessoa-escalando,
    .pessoa-sentada,
    .mao-celular,
    .icone-big {
        display: none;
    }

    .mensagem-inicio, .como-trabalhamos {
        width: 100%;
        text-align: center;
        margin-bottom: 10%;
    }

    .container h1 {
        font-weight: 400;
    }

    .clientes h1, .como-trabalhamos h1, .fale-conosco h1 {
        margin: 5%;
    }

    .mensagem-como-trabalhamos p {
        margin: 5% 0 0 0;
        text-align: center;
    }

    .fale-conosco {
        padding-bottom: 10%;
    }

    .formulario {
        width: 100%;
        margin: 0 5%;
    }


}

@media (max-width: 430px) {
    .navbar {
        padding: 16px 24px;
    }

    .inicio {
        padding: 3% 5%;
    }

    .mensagem-inicio h2 {
        font-size: 1.5rem;
        line-height: 31.5px;
    }

    .mensagem-inicio span {
        color: #666666 !important;
    }

    .mensagem-inicio a {
        font-size: 0.8rem;
        letter-spacing: 1.25px;
        padding: 10px 25px;
    }

    .clientes h1, .como-trabalhamos h1, .fale-conosco h1 {
        margin: 5% 20%;
    }

    .container h1 {
        font-size: 1.2rem;
    }

    .mensagem-como-trabalhamos p {
        font-size: 1rem;
    }

    .formulario ul li {
        padding: 4% 0;
    }

    .formulario ul li img {
        max-width: 24px;
        max-height: 24px;
    }

    .formulario ul li p, .formulario ul li a {
        font-size: 1.2rem;
        padding-left: 3%;
        line-height: 25.2px;
    }

    .contato p, .redes-sociais p {
        font-size: .5rem;
    }

    .contato p:first-child, .redes-sociais p:first-child {
        font-size: .8rem;
    }

    .redes-sociais {
        width: auto;
    }

    .redes-sociais > p {
        margin-bottom: 5%;
    }

    .contato img, .redes-sociais img{
        width: 14px;
    }

    .nossos-clientes {
        display: flex;
        min-height: 150px;
        margin-top: -100px;
    }

    .anterior, .proximo{
        display: block;
        min-width: 24px;
        min-height: 24px;
    }

    .anterior{
        background-image: url('../src/img/icones/chevron-left.svg');
    }

    .proximo{
        background-image: url('../src/img/icones/chevron-right.svg');
    }

    .setas {
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        margin-top: 20%;
    }

    .img-01, .img-02, .img-03, .img-04, .img-05, .img-06, .img-07, .img-08 {
        display: none !important;
    }

    .atual {
        display: block !important;
    }
}